.photos-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.title-photos {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.text-author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
