.form-impression {
  display: flex;
  flex-direction: column;
  padding-bottom: 39px;
  position: relative;
}

.form-impression__block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 20px;
}

.form-impression__title {
  min-width: 233px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.form-impression__field {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.form-impression__field:hover {
  opacity: 0.6;
}

.form-impression__field:active {
  opacity: 0.3;
}

.form-impression__field-label {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .form-impression {
    grid-area: impression;
    width: 648px;
    padding-bottom: 0;
  }

  .form-impression__block {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }

  .form-impression__title {
    width: 402px;
    margin-bottom: 28px;
    font-size: 21px;
  }
}

@media (min-width: @desktop-width) {
  .form-impression {
    grid-area: impression;
    width: 100%;
  }

  .form-impression__block {
    display: grid;
    grid-template-columns: 280px 280px 250px;
    justify-content: space-between;
    margin: 0;
    padding-left: 53px;
    padding-right: 53px;
  }

  .form-impression__title {
    margin-bottom: 45px;
  }
}
