.form-emotions {
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  position: relative;
}

.form-emotions__block {
  font-family: "PT Sans", sans-serif;
  padding: 0;
  width: 280px;
  height: 150px;
  margin: 0 auto;
  background-color: @gray;
  border: none;
  outline: none;
  padding-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 56px;
}

.form-emotions__title {
  width: 245px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .form-emotions {
    grid-area: emotions;
    width: 648px;
    padding-bottom: 0;
  }

  .form-emotions__block {
    width: 100%;
    height: 160px;
    margin-bottom: 46px;
  }

  .form-emotions__title {
    width: 402px;
    margin-bottom: 28px;
    font-size: 21px;
  }
}

@media (min-width: @desktop-width) {
  .form-emotions {
    grid-area: emotions;
    width: 768px;
    margin: 0 auto;
  }
}
