// .main-header {
//   background-color: #000000;
// }

// .main-header__logo {
// }

// .main-header__logo-image {
// }

// .main-nav {
// }

.main-nav__toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.main-nav__toggle::before {
  content: url("../img/icon-menu.svg");
  display: block;
  width: 23px;
  height: 22px;
}

// .visually-hidden {
// }

// .main-nav__wrapper {
// }

// .main-nav__list {
// }

// .main-nav__item {
// }

// .main-nav__link {
// }

// .main-nav__link--current {
// }
