@white: #ffffff;
@brown: #766357;
@tablet-width: 768px;
@desktop-width: 1280px;

.main-header__wrapper {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;

  .main-header__nav {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 245px;
  }

  .main-header__logo {
    position: absolute;
    z-index: 5;
    top: 0;
  }

  @media (min-width: @tablet-width) {
    .main-header__logo {
      display: none;
    }

    .main-header__nav {
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    .main-header__logo {
      display: none;
    }

    .main-header__nav {
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0;
    }
  }
}

// .main-header__logo {
// }

// .main-header__logo-image {
// }

// .main-nav {
// }

.main-nav__toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.main-nav__toggle::before {
  content: url("../img/icon-menu.svg");
  display: block;
  width: 23px;
  height: 22px;
}

// .visually-hidden {
// }

// .main-nav__wrapper {
// }

// .main-nav__list {
// }

// .main-nav__item {
// }

// .main-nav__link {
// }

// .main-nav__link--current {
// }
