.interest-block {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .interest-block {
    width: 768px;
  }
  .interest-block .block-interest__title {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .interest-block {
    width: 1200px;
  }
  .interest-block .block-interest__title {
    font-size: 30px;
  }
}
.interest-block .block-interest {
  display: flex;
  flex-direction: column;
  width: 284px;
  margin: 0 auto;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 49px;
}
.interest-block .block-interest .block-interest__title {
  margin-bottom: 20px;
}
.interest-block .block-interest .block-interest__text {
  margin-bottom: 41px;
}
.interest-block .block-interest .block-interest__button {
  background: none;
  border: none;
  padding: 0;
  display: block;
  cursor: pointer;
  color: #ffffff;
  background-color: #81b3d2;
  height: 52px;
  text-transform: uppercase;
  font-size: 21px;
}
@media (min-width: 768px) {
  .interest-block .block-interest {
    display: flex;
    flex-direction: column;
    width: 458px;
    padding-top: 61px;
    padding-bottom: 58px;
  }
  .interest-block .block-interest .block-interest__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .interest-block .block-interest {
    display: flex;
    flex-direction: column;
    width: 458px;
    padding-top: 61px;
    padding-bottom: 66px;
  }
  .interest-block .block-interest .block-interest__title {
    margin-bottom: 30px;
  }
}
