.interest-block {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .interest-block {
    width: 768px;
    padding-bottom: 36px;
  }
}

@media (min-width: @desktop-width) {
  .interest-block {
    width: 1200px;
    padding-bottom: 36px;
  }
}

.interest-block iframe {
  border: none;
  display: block;
  width: 320px;
  height: 350px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 350px;
  }
}

.block-interest {
  display: flex;
  flex-direction: column;
  width: 284px;
  margin: 0 auto;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 49px;
}

.block-interest__title {
  margin-bottom: 20px;
}

.block-interest__text {
  margin-bottom: 41px;
}

.block-interest__button {
  color: @white;
  background-color: @blue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  padding: 16px 16px 16px 16px;
  font-weight: 700;
}

.block-interest__button:hover {
  background-color: @blue-middle;
}

.block-interest__button:active {
  background-color: @blue-high;
  color: rgba(255, 255, 255, 0.3);
}

.block-interest__button:disabled {
  background-color: @brown-light;
}

@media (min-width: @tablet-width) {
  .block-interest {
    display: flex;
    flex-direction: column;
    width: 458px;
    padding-top: 61px;
    padding-bottom: 58px;
  }

  .block-interest__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .block-interest__button {
    padding: 15px 16px 18px 16px;
  }
}

@media (min-width: @desktop-width) {
  .block-interest {
    display: flex;
    flex-direction: column;
    width: 458px;
    padding-top: 61px;
    padding-bottom: 66px;
  }

  .block-interest__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .block-interest__button {
    padding: 15px 16px 18px 16px;
  }
}
