.interest-block {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;

    .block-interest__title {
      font-size: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;

    .block-interest__title {
      font-size: 30px;
    }
  }

  .block-interest {
    display: flex;
    flex-direction: column;
    width: 284px;
    margin: 0 auto;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 49px;

    .block-interest__title {
      margin-bottom: 20px;
    }

    .block-interest__text {
      margin-bottom: 41px;
    }

    .block-interest__button {
      .button();
      color: @white;
      background-color: @blue;
      height: 52px;
      text-transform: uppercase;
      font-size: 21px;
      font-family: "PT Sans", sans-serif;
      font-weight: 700;
    }

    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: column;
      width: 458px;
      padding-top: 61px;
      padding-bottom: 58px;

      .block-interest__title {
        margin-bottom: 30px;
      }
    }

    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: column;
      width: 458px;
      padding-top: 61px;
      padding-bottom: 66px;

      .block-interest__title {
        margin-bottom: 30px;
      }
    }
  }
}
