.main-header__nav {
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 245px;
}

@media (min-width: @tablet-width) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}

.main-header {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}

.main-header__logo {
  position: absolute;
  z-index: 5;
  top: 0;
}

@media (min-width: @tablet-width) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}
