.main-nav__list {
  display: none;
}
@media (min-width: 768px) {
  .main-nav .main-nav__list {
    position: relative;
    visibility: visible;
    width: 768px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .main-nav .main-nav__item {
    width: 153px;
  }
  .main-nav .main-nav__item-second {
    margin-right: 180px;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    position: absolute;
  }
  .main-nav__link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-nav .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
  }
  .main-nav .main-nav__item--invisible {
    display: block;
    position: absolute;
    left: 40%;
    z-index: 3;
    padding-top: 27px;
  }
}
@media (min-width: 1280px) {
  .main-nav .main-nav__list {
    position: relative;
    visibility: visible;
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .main-nav .main-nav__item {
    width: 240px;
  }
  .main-nav .main-nav__item-second {
    margin-right: 340px;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    position: absolute;
  }
  .main-nav__link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-nav .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
  }
  .main-nav .main-nav__item--invisible {
    display: block;
    position: absolute;
    left: 40%;
    z-index: 3;
    padding-top: 27px;
  }
}
.main-nav__item--invisible {
  display: none;
}
