.main-nav {
  @media (min-width: @tablet-width) {
    .main-nav__item--invisible {
      display: block;
    }

    .main-nav__list {
      position: relative;
      visibility: visible;
      width: 768px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      text-align: center;
    }


    .main-nav__item {
      width: 153px;
    }

    .main-nav__toggle {
      display: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    position: absolute;
  }

  &__link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.main-nav__item--invisible {
  display: none;
}
