.main-header__nav {
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 245px;
}
@media (min-width: 768px) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}
.main-header {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}
.main-header .main-header__logo {
  position: absolute;
  z-index: 5;
  top: 0;
}
@media (min-width: 768px) {
  .main-header .main-header__logo {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-header .main-header__logo {
    display: none;
  }
  .main-header .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}
.main-nav__list {
  display: none;
}
.display_menu {
  position: absolute;
  z-index: 10;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #81b3d2;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 223px;
  top: 0;
}
.display_menu .main-nav__item {
  padding-top: 17px;
  padding-bottom: 15px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
.display_menu .main-nav__item .main-nav__link {
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.display_menu .main-nav__item--shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.display_menu .main-nav__cross {
  background: none;
  border: none;
  padding: 0;
  display: block;
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
}
.main-nav .main-nav__toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.main-nav .main-nav__toggle::before {
  content: url("../img/icon-menu.svg");
  display: block;
  width: 23px;
  height: 22px;
}
.main-nav .main-nav__item--invisible {
  display: none;
}
.main-nav .main-nav__item:hover .main-nav__link {
  color: #766357;
}
@media (min-width: 768px) {
  .main-nav .main-nav__list {
    position: relative;
    visibility: visible;
    width: 768px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .main-nav .main-nav__item {
    width: 153px;
  }
  .main-nav .main-nav__item--second {
    margin-right: 180px;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
  .main-nav .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-nav .main-nav__item--invisible {
    display: block;
    position: absolute;
    left: 40%;
    z-index: 3;
    padding-top: 27px;
  }
  .main-nav .main-nav__cross {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav .main-nav__list {
    position: relative;
    visibility: visible;
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .main-nav .main-nav__item {
    width: 240px;
  }
  .main-nav .main-nav__item--second {
    margin-right: 340px;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
  .main-nav .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-nav .main-nav__item--invisible {
    display: block;
    position: absolute;
    left: 40%;
    z-index: 3;
    padding-top: 27px;
  }
  .main-nav .main-nav__cross {
    display: none;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 29px;
}
.page-footer__visit {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 21px;
  display: block;
  margin: 0 auto;
  padding-bottom: 34px;
}
.list-social {
  list-style: none;
  display: flex;
  column-gap: 6px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 40px;
}
.list-social__item {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  display: flex;
}
.list-social__link {
  margin: auto;
}
.page-footer__list-social {
  padding-top: 34px;
  padding-bottom: 40px;
}
.page-footer__html-academy {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  width: 148px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
  }
}
@media (min-width: 1280px) {
  .page-footer {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
  }
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.title-photos {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.text-author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.paragraph {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.photos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.photos-list .photos-list__item {
  padding-bottom: 29px;
  position: relative;
}
.photos-list .photos-list__title {
  padding-top: 15px;
  padding-bottom: 5px;
}
.photos-list .photos-list__author {
  padding-bottom: 16px;
}
.photos-list .descrip-block__likes-total {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.photos-list .descrip-block__likes-total .descrip-block__button {
  background: none;
  border: none;
  padding: 0;
  display: block;
  cursor: pointer;
}
.photos-list .descrip-block__likes-total .descrip-block__button::before {
  content: url("../img/catalog/like-icon.svg");
  display: block;
  width: 23px;
  height: 23px;
}
.photos-list .photos-list-place {
  grid-area: place;
}
.photos-list .photos-list-flowers {
  grid-area: flowers;
}
.photos-list .photos-list-north {
  grid-area: north;
}
.photos-list .photos-list-chert {
  grid-area: chert;
}
.photos-list .photos-list__item::after {
  content: "";
  position: relative;
}
@media (min-width: 768px) {
  .photos-list {
    width: 648px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "place place" "flowers north" "chert .";
    row-gap: 0;
  }
  .photos-list .photos-list__image-block {
    display: flex;
  }
  .photos-list .photos-list__item {
    padding-bottom: 0;
  }
  .photos-list .photos-list__title {
    padding: 0;
    padding-bottom: 5px;
  }
  .photos-list .photos-list__author {
    padding: 0;
  }
  .photos-list .photos-list__descrip-block {
    display: flex;
    background-color: #eeeeee;
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  .photos-list .descrip-block__likes-total {
    column-gap: 9px;
  }
  .photos-list .descrip-block__likes-total .descrip-block__button {
    background: none;
    border: none;
    padding: 0;
    display: block;
    cursor: pointer;
  }
  .photos-list .descrip-block__likes-total .descrip-block__button::before {
    content: url("../img/catalog/like-icon.svg");
    display: block;
    width: 23px;
    height: 23px;
  }
}
@media (min-width: 1280px) {
  .photos-list {
    min-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "place place place" "flowers north chert";
    row-gap: 0;
  }
  .photos-list .photos-list__image-block {
    display: flex;
  }
  .photos-list .photos-list__item {
    padding-bottom: 0;
    position: relative;
  }
  .photos-list .photos-list__title {
    padding: 0;
    padding-bottom: 5px;
  }
  .photos-list .photos-list__author {
    padding: 0;
    color: #ffffff;
  }
  .photos-list .photos-list__descrip-block {
    background: rgba(0, 0, 0, 0.4);
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    color: #ffffff;
  }
  .photos-list .descrip-block {
    width: 100%;
    box-sizing: border-box;
  }
  .photos-list .descrip-block__likes-total {
    column-gap: 9px;
  }
  .photos-list .descrip-block__likes-total .descrip-block__button {
    background: none;
    border: none;
    padding: 0;
    display: block;
    cursor: pointer;
  }
  .photos-list .descrip-block__likes-total .descrip-block__button::before {
    content: url("../img/catalog/like-icon-desktop.svg");
    display: block;
    width: 23px;
    height: 23px;
  }
}
.photos-videos .photos-videos__photos {
  display: flex;
  justify-content: center;
}
.photos-videos__header {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 45px;
  text-align: center;
}
.photos-videos__header .photos-videos__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 18px;
}
.photos-videos__header .photos-videos__text {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
}
@media (min-width: 768px) {
  .photos-videos__header {
    width: 458px;
    margin: 0 auto;
    padding-bottom: 45px;
    text-align: center;
  }
  .photos-videos__header .photos-videos__title {
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 30px;
  }
  .photos-videos__header .photos-videos__text {
    width: auto;
    margin: 0 auto;
  }
}
.block-doubt {
  width: 280px;
  margin: 0 auto;
  padding-top: 48px;
}
.block-doubt .block-doubt__header {
  width: 266px;
  margin: 0 auto;
  text-align: center;
}
.block-doubt .block-doubt__title {
  font-size: 18px;
  padding-bottom: 36px;
}
.block-doubt .block-doubt__text {
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .block-doubt {
    width: 648px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 40px;
  }
  .block-doubt .block-doubt__header {
    width: 445px;
    margin: 0 auto;
    text-align: center;
  }
  .block-doubt .block-doubt__title {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .block-doubt {
    width: 800px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 76px;
  }
  .block-doubt .block-doubt__header {
    width: 445px;
    margin: 0 auto;
    text-align: center;
  }
  .block-doubt .block-doubt__title {
    font-size: 30px;
  }
}
.welcome-sedona {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .welcome-sedona {
    width: 768px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .welcome-sedona {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
}
.main-container__welcome-sedona {
  margin-bottom: 32px;
}
.welcome-sedona__wrapper {
  background: url("/img/catalog/back-mobile-catalog.jpg") no-repeat;
  width: 320px;
  height: 214px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .welcome-sedona__wrapper {
    background: url("/img/catalog/back-tablet-catalog.jpg") no-repeat;
    width: 768px;
    height: 345px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .welcome-sedona__wrapper .welcome-sedona__image {
    position: absolute;
    left: 20%;
    top: 45%;
  }
}
@media (min-width: 1280px) {
  .welcome-sedona__wrapper {
    background: url("/img/catalog/back-desktop-catalog.jpg") no-repeat;
    width: 1200px;
    height: 345px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .welcome-sedona__wrapper .welcome-sedona__image {
    position: absolute;
    left: 31%;
    top: 45%;
  }
}
.welcome-sedona__tri {
  background: url("/img/intro-triangle.svg") no-repeat;
  width: 320px;
  height: 56px;
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  .welcome-sedona__tri {
    background: url("/img/catalog/intro-triangle-tablet.svg") no-repeat;
    width: 768px;
    height: 56px;
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 1280px) {
  .welcome-sedona__tri {
    background: url("/img/catalog/intro-triangle-desktop.svg") no-repeat;
    width: 1200px;
    height: 56px;
    position: absolute;
    bottom: 0;
  }
}
.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  min-height: 100%;
  margin: 0;
}
