// Начните писать стили здесь
@import url("blocks/header.less");
@import url("blocks/main-nav.less");
@import url("blocks/footer.less");
@import url("blocks/catalog-list.less");


.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  min-height: 100%;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.button {
  background: none;
  border: none;
  padding: 0;
  display: block;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

.sedona-picture {
  background: url('/img/back-desktop.jpg') no-repeat;
  width: 320px;
  height: 214px;
}

.main-container__picture {
  position: relative;
}

.sedona-picture__triangle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-container__doubt {
  margin-bottom: 29px;
}

.block-doubt__title {
  margin-bottom: 38px;
}

.block-doubt__text {
  margin-bottom: 38px;
  width: 266px;
}

.main-container__photos-videos {
  margin-bottom: 17px;
}

.photos-videos__header {
  margin-bottom: 24px;
}

.photos-videos__title {
  margin-bottom: 38px;
}

.photos-list__item {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
  width: 320px;
}

.photos-videos__text {
  width: 320px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.photos-list__title {
  padding-top: 15px;
  margin-bottom: 15px;
}
