.main-header__nav {
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 245px;
}
@media (min-width: 768px) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}
.main-header {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}
.main-header .main-header__logo {
  position: absolute;
  z-index: 5;
  top: 0;
}
@media (min-width: 768px) {
  .main-header .main-header__logo {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-header .main-header__logo {
    display: none;
  }
  .main-header .main-header__nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}
.main-nav__list {
  display: none;
}
.display_menu {
  position: absolute;
  z-index: 10;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #81b3d2;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 223px;
  top: 0;
}
.display_menu .main-nav__item {
  padding-top: 17px;
  padding-bottom: 15px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
.display_menu .main-nav__item .main-nav__link {
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.display_menu .main-nav__item--shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.display_menu .main-nav__cross {
  background: none;
  border: none;
  padding: 0;
  display: block;
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
}
.main-nav .main-nav__toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.main-nav .main-nav__toggle::before {
  content: url("../img/icon-menu.svg");
  display: block;
  width: 23px;
  height: 22px;
}
.main-nav .main-nav__item--invisible {
  display: none;
}
.main-nav .main-nav__item:hover .main-nav__link {
  color: #766357;
}
@media (min-width: 768px) {
  .main-nav .main-nav__list {
    position: relative;
    visibility: visible;
    width: 768px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .main-nav .main-nav__item {
    width: 153px;
  }
  .main-nav .main-nav__item--second {
    margin-right: 180px;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
  .main-nav .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-nav .main-nav__item--invisible {
    display: block;
    position: absolute;
    left: 40%;
    z-index: 3;
    padding-top: 27px;
  }
  .main-nav .main-nav__cross {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav .main-nav__list {
    position: relative;
    visibility: visible;
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .main-nav .main-nav__item {
    width: 240px;
  }
  .main-nav .main-nav__item--second {
    margin-right: 340px;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
  .main-nav .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-nav .main-nav__item--invisible {
    display: block;
    position: absolute;
    left: 40%;
    z-index: 3;
    padding-top: 27px;
  }
  .main-nav .main-nav__cross {
    display: none;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 29px;
}
.page-footer__visit {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 21px;
  display: block;
  margin: 0 auto;
  padding-bottom: 34px;
}
.list-social {
  list-style: none;
  display: flex;
  column-gap: 6px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 40px;
}
.list-social__item {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  display: flex;
}
.list-social__link {
  margin: auto;
}
.page-footer__list-social {
  padding-top: 34px;
  padding-bottom: 40px;
}
.page-footer__html-academy {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  width: 148px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
  }
}
@media (min-width: 1280px) {
  .page-footer {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
  }
}
.welcome-sedona {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .welcome-sedona {
    width: 768px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .welcome-sedona {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
}
.main-container__welcome-sedona {
  margin-bottom: 32px;
}
.welcome-sedona__wrapper {
  background: url("/img/catalog/back-mobile-catalog.jpg") no-repeat;
  width: 320px;
  height: 214px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .welcome-sedona__wrapper {
    background: url("/img/catalog/back-tablet-catalog.jpg") no-repeat;
    width: 768px;
    height: 345px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .welcome-sedona__wrapper .welcome-sedona__image {
    position: absolute;
    left: 20%;
    top: 45%;
  }
}
@media (min-width: 1280px) {
  .welcome-sedona__wrapper {
    background: url("/img/catalog/back-desktop-catalog.jpg") no-repeat;
    width: 1200px;
    height: 345px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .welcome-sedona__wrapper .welcome-sedona__image {
    position: absolute;
    left: 31%;
    top: 45%;
  }
}
.welcome-sedona__tri {
  background: url("/img/intro-triangle.svg") no-repeat;
  width: 320px;
  height: 56px;
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  .welcome-sedona__tri {
    background: url("/img/catalog/intro-triangle-tablet.svg") no-repeat;
    width: 768px;
    height: 56px;
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 1280px) {
  .welcome-sedona__tri {
    background: url("/img/catalog/intro-triangle-desktop.svg") no-repeat;
    width: 1200px;
    height: 56px;
    position: absolute;
    bottom: 0;
  }
}
.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  min-height: 100%;
  margin: 0;
}
.review {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .review {
    width: 768px;
    margin: 0 auto;
    padding-top: 32px;
  }
}
@media (min-width: 1280px) {
  .review {
    width: 1280px;
    margin: 0 auto;
    padding-top: 83px;
  }
}
.review__header {
  width: 282px;
  margin: 0 auto;
  padding-bottom: 28px;
}
.review__header .review__title {
  width: 282px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
  font-size: 18px;
}
.review__header .review__text-reasons {
  width: 282px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .review__header {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 102px;
    padding-bottom: 0;
  }
  .review__header .review__title {
    width: 317px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .review__header .review__text-reasons {
    width: 435px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .review__header {
    width: 483px;
    margin: 0 auto;
    margin-bottom: 66px;
  }
  .review__header .review__title {
    width: 483px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
    font-size: 21px;
  }
  .review__header .review__text-reasons {
    width: 483px;
    margin: 0 auto;
    text-align: center;
  }
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.title-photos {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.text-author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.paragraph {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.input-text {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  background-color: #eeeeee;
  border: none;
  position: relative;
  display: block;
  outline: none;
  padding-left: 16px;
}
.form-sedona {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
}
.form-person {
  display: flex;
  flex-direction: column;
  padding-bottom: 39px;
  position: relative;
}
.form-person .form-person__block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.form-person .form-person__title {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.form-person .form-person__field {
  display: flex;
  flex-direction: column;
}
.form-person .form-person__field-label {
  margin-left: 16px;
}
.form-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 39px;
  position: relative;
}
.form-info .form-info__block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.form-info .form-info__title {
  width: 238px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.form-info .form-info__field {
  display: flex;
  flex-direction: column;
}
.form-info .form-info__field-label {
  margin-left: 16px;
}
.form-info .tel {
  position: relative;
}
.form-info .form-info__img-tel {
  width: 58px;
  height: 58px;
  position: absolute;
  background-color: #e6e6e6;
  bottom: 0;
  box-sizing: border-box;
  right: 0;
  display: flex;
}
.form-info .form-info__img-tel::after {
  content: url("../img/form/phone.svg");
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
}
.form-info .email {
  position: relative;
}
.form-info .form-info__img-email {
  width: 58px;
  height: 58px;
  position: absolute;
  background-color: #e6e6e6;
  bottom: 0;
  box-sizing: border-box;
  right: 0;
  display: flex;
}
.form-info .form-info__img-email::after {
  content: url("../img/form/mail.svg");
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
}
.form-impression {
  display: flex;
  flex-direction: column;
  padding-bottom: 39px;
  position: relative;
}
.form-impression .form-impression__block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 20px;
}
.form-impression .form-impression__title {
  width: 233px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.form-impression .form-impression__field {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.form-impression .form-impression__field .form-impression__field-label {
  font-size: 18px;
  font-weight: bold;
}
.form-impression .input-circle {
  width: 46px;
  height: 46px;
}
.form-visited {
  display: flex;
  flex-direction: column;
  padding-bottom: 39px;
  position: relative;
}
.form-visited .form-visited__block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 20px;
}
.form-visited .form-visited__title {
  width: 236px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.form-visited .form-visited__field {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.form-visited .form-visited__field .form-visited__field-label {
  font-size: 18px;
  font-weight: bold;
}
.form-visited .input-square {
  width: 46px;
  height: 46px;
  margin: 0;
}
.form-emotions {
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  position: relative;
}
.form-emotions .form-emotions__block {
  padding: 0;
  width: 280px;
  height: 150px;
  margin: 0 auto;
  background-color: #eeeeee;
  border: none;
  outline: none;
  padding-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 56px;
}
.form-emotions .form-emotions__title {
  width: 245px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.button-sedona {
  background: none;
  border: none;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 281px;
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 14px;
  font-size: 21px;
  margin: 0 auto;
  text-transform: uppercase;
}
.span-hidden {
  position: absolute;
  color: #000000;
  bottom: 24px;
  right: 20px;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-sedona {
    width: 648px;
    margin: 0 auto;
    display: grid;
    position: relative;
    padding-top: 0;
    padding-bottom: 64px;
    grid-template-areas: "person info" "impression  impression" "visit visit" "emotions emotions";
    row-gap: 45px;
  }
  .span-hidden {
    font-size: 14px;
  }
  .form-person {
    grid-area: person;
    width: 280px;
    padding-bottom: 0;
  }
  .form-person .form-person__title {
    width: 160px;
    margin-bottom: 28px;
    font-size: 21px;
  }
  .form-person::after {
    content: "";
    border-right: 2px solid #eeeeee;
    position: absolute;
    height: 338px;
    left: 315px;
  }
  .form-info {
    grid-area: info;
    width: 298px;
    display: flex;
    margin-left: auto;
    padding-bottom: 0;
  }
  .form-info .form-info__title {
    width: 278px;
    margin-bottom: 28px;
    font-size: 21px;
  }
  .form-emotions {
    grid-area: emotions;
    width: 648px;
    padding-bottom: 0;
  }
  .form-emotions .form-emotions__block {
    width: 100%;
    height: 160px;
    margin-bottom: 46px;
  }
  .form-emotions .form-emotions__title {
    width: 402px;
    margin-bottom: 28px;
    font-size: 21px;
  }
  .button-sedona {
    width: 324px;
    margin: 0;
  }
  .form-visited {
    grid-area: visit;
    width: 648px;
    padding-bottom: 0;
  }
  .form-visited .form-visited__block {
    display: grid;
    grid-template-columns: repeat(2, 224px);
    justify-content: center;
  }
  .form-visited .form-visited__title {
    margin-bottom: 28px;
    width: 308px;
    font-size: 21px;
  }
  .form-impression {
    grid-area: impression;
    width: 648px;
    padding-bottom: 0;
  }
  .form-impression .form-impression__block {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }
  .form-impression .form-impression__title {
    width: 402px;
    margin-bottom: 28px;
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  .form-sedona {
    width: 960px;
    margin: 0 auto;
    display: grid;
    position: relative;
    padding-top: 0;
    padding-bottom: 64px;
    grid-template-areas: "person info" "impression  impression" "visit visit" "emotions emotions";
    row-gap: 56px;
  }
  .form-person {
    grid-area: person;
    width: 430px;
    padding-bottom: 15px;
  }
  .form-person::after {
    left: 493px;
  }
  .form-info {
    grid-area: info;
    width: 402px;
  }
  .form-impression {
    grid-area: impression;
    width: 100%;
  }
  .form-impression .form-impression__block {
    display: grid;
    grid-template-columns: 280px 280px 250px;
    /* justify-content: space-around; */
    justify-content: space-between;
    margin: 0;
    padding-left: 53px;
    padding-right: 53px;
  }
  .form-impression .form-impression__title {
    margin-bottom: 45px;
  }
  .form-visited {
    grid-area: visit;
    width: 100%;
  }
  .form-visited .form-visited__block {
    display: grid;
    grid-template-columns: 180px 178px 161px 184px;
    justify-content: space-between;
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
  }
  .form-visited .form-visited__title {
    margin-bottom: 59px;
  }
  .form-emotions {
    grid-area: emotions;
    width: 768px;
    margin: 0 auto;
  }
  .button-sedona {
    width: 384px;
  }
}
